<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>BrefBoard</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
<body>
    <nav>
        

        </a>
        {% if user.is_authenticated %}    
            <a  href="{% url 'logout' %}"> <span>DECO</span></a>
          
            
        {% else %}
            <a  href="{% url 'login' %}">Connexion</a>
            <a  href="{% url 'home' %}">Home</a>
            <a  href="{% url 'inscription' %}">inscription</a>

        {% endif %}
    </nav>

    <main>

        {% block login %}
        {% endblock %}
        {% block inscription %}
        {% endblock %}
        {% block home %}
        {% endblock %}

    </main>
</body>
</html>