<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>BrefBoard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <nav>
            {% if request.user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Se déconnecter</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Se connecter</a>
                <a href="{% url 'inscription' %}">S'inscire</a>
            {% endif %}
        </nav>
    </header>

    {% block content %}
    {% endblock %}
</body>
</html>
