<!-- profil.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Profil de {{ request.user.username }}</h1>

<h2>Vos Enregistrements</h2>
<ul>
    {% for audio in audios %}
    <li><a href="{{ audio.file.url }}">{{ audio.file.name }}</a></li>
    {% endfor %}
</ul>

<h2>Vos Transcriptions</h2>
<ul>
    {% for transcription in transcriptions %}
    <li>{{ transcription.text }}</li>
    {% endfor %}
</ul>

<h2>Vos Résumés</h2>
<ul>
    {% for summary in summaries %}
    <li>{{ summary.text }}</li>
    {% endfor %}
</ul>
{% endblock %}
